.App{
  /* border: 2px solid blue; */
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AppDiv{
  border: 2px solid gray;
  height: 70%;
  width: 30%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .AppDiv{
    width: 80%;
    height: 60%;
  }
}
@media screen and (min-width:380px) and (max-width: 480px) {
  .AppDiv{
    width: 50%;
    height: 60%;
  }
}
@media screen and (min-width:481px) and (max-width: 775px) {
  .AppDiv{
    width: 40%;
  }
}